//変数の読み込み
@use "../foundation/_variables" as v;
@use "../foundation/_mixin" as m;

.l-header{
    height: 215px;
    text-align: center;
    background-color:v.$color-header;
    position: relative;
    h1{
        font-size: 40px;
        padding-top: 43px;
    }
    .p-search{
        margin-top: 40px;
    }
    @include m.pc {
        display: flex;
        justify-content: space-between;
        h1{
            padding-top: 69px;
            margin-left: 65px;
        }
        .p-search{
            margin-top: 86px;
            margin-right: 30px;
        }
    }
}